html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.nav-item a {
    font-weight: 600;
}


/* Footer start*/

.footer {
    min-height: 280px;
    background-color: #120c68;
    background-image: url('../footer.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

/* Footer Ends*/

/* Header Starts*/
.headerRow {
    padding-left: 4rem;
    padding-right: 4rem;
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav {
        flex-direction: row-reverse;
    }
}

/* Header Ends*/

