html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* Header Starts*/

.headerRow {
    padding-left: 4rem;
    padding-right: 4rem;
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav {
        flex-direction: row-reverse;
    }
}

/* Header Ends*/

