@{
    ViewData["Title"] = "Home Page";
}

<style type="text/css">
    .mainheading{
        font-weight: 600;
        color: #441c99;
        font-family: "Poppins",sans-serif;
        font-size: 54px;
        line-height: 62px;
        margin: 0 0 24px;
    }

    .secondaryHeading{
        font-size: 1.25rem;
        line-height: 1.625rem;
        font-weight: 400;
        color: #1c1c21;
        padding-bottom: 2rem;
    }

    .iconCard{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        width: 55px;
        background: #fff;
        border-radius: 13.2269px;
        margin-bottom: 8px;
        margin-right: 8px;
        box-shadow: 0 1px 7px rgba(79,75,147,.1);
    }

    body{
        background-color: #f6fafd;
    }

    .has-search .form-control {
        padding-left: 2.375rem;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: black;
        margin-top: 21px;
    }

    .inputBox{
        height: 80px;
    }

    @@media (min-width: 1400px) {
        .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
            max-width: 1423px;
        }
    }


    .homePageContainer{
        min-height: 550px;
    }

    </style>

<div class="container">
    <div class="homePageContainer">

        <div class="row pt-5 pb-5">
            <div class="col-8">
                <h1 class="display-4 mainheading">Open Source <br> Vulnerability Database</h1>
                <p class="secondaryHeading">The most comprehensive, accurate, and timely database for open source vulnerabilities.</p>
                <div class="col">
                    <span class="iconCard">
                        <svg fill="currentColor" width="28" height="28" viewBox="0 0 24 24" class="material-design-icon__svg"><path fill="#CB3837" d="M2 2v20h20v-20h-20zM5.333 5.333h13.333v13.333h-3.333v-10h-3.333v10h-6.667v-13.333z"></path></svg>
                    </span>
                    <span class="iconCard">
                        <svg fill="currentColor" width="28" height="28" viewBox="0 0 24 24" class="material-design-icon__svg"><path fill="#DF562A" d="M3 2h18c.7 0 1 .3 1 1v18c0 .7-.3 1-1 1H3c-.7 0-1-.3-1-1V3c0-.7.3-1 1-1zm4.75 5.79L6 16.5s-.1.5.25.5H7.5s.33.06.5-.75l1.25-5.93 1.06 6.03s.15.66.44.66h1s.5-.27.9-1L16 10.26l-1.25 6s-.25.76.46.76l1.04-.01s.56.08.75-1l1.48-8.15S18.68 7 18 7h-2s-.43-.08-.8.79c-.36.86-3.2 5.71-3.2 5.71l-.99-5.83S11 7 10.25 7H8.5c-.63 0-.75.78-.75.78z"></path></svg>
                    </span>
                    <span class="iconCard">
                        <svg fill="currentColor" width="28" height="28" viewBox="0 0 24 24" class="material-design-icon__svg"><path fill="url(#paint0_linear_2020_25146)" d="M11.8973 0.00750732C5.81991 0.00750732 6.19937 2.65363 6.19937 2.65363L6.20612 5.39508H12.0057V6.21814H3.90262C3.90262 6.21814 0.0136719 5.77532 0.0136719 11.932C0.0136719 18.0889 3.40804 17.8706 3.40804 17.8706H5.43379V15.0135C5.43379 15.0135 5.32458 11.6055 8.77397 11.6055H14.5261C14.5261 11.6055 17.7578 11.658 17.7578 8.46963V3.19791C17.7578 3.19791 18.2487 0.00750732 11.8973 0.00750732ZM8.69945 1.85108C8.8365 1.85096 8.97222 1.87797 9.09886 1.93057C9.2255 1.98317 9.34057 2.06033 9.43748 2.15762C9.53438 2.25492 9.61123 2.37045 9.66362 2.49759C9.71601 2.62474 9.74291 2.76101 9.74279 2.89861C9.74291 3.03621 9.71601 3.17248 9.66362 3.29963C9.61123 3.42678 9.53438 3.54231 9.43748 3.6396C9.34057 3.7369 9.2255 3.81406 9.09886 3.86666C8.97222 3.91926 8.8365 3.94627 8.69945 3.94614C8.5624 3.94627 8.42667 3.91926 8.30003 3.86666C8.1734 3.81406 8.05833 3.7369 7.96142 3.6396C7.86451 3.54231 7.78767 3.42678 7.73528 3.29963C7.68289 3.17248 7.65599 3.03621 7.65611 2.89861C7.65599 2.76101 7.68289 2.62474 7.73528 2.49759C7.78767 2.37045 7.86451 2.25492 7.96142 2.15762C8.05833 2.06033 8.1734 1.98317 8.30003 1.93057C8.42667 1.87797 8.5624 1.85096 8.69945 1.85108V1.85108Z"></path> <path fill="url(#paint1_linear_2020_25146)" d="M12.0701 23.9177C18.1475 23.9177 17.768 21.2716 17.768 21.2716L17.7613 18.5303H11.9616V17.7072H20.0647C20.0647 17.7072 23.9537 18.15 23.9537 11.9931C23.9537 5.83632 20.5593 6.05467 20.5593 6.05467H18.5335V8.91161C18.5335 8.91161 18.6427 12.3196 15.1933 12.3196H9.4412C9.4412 12.3196 6.20948 12.2672 6.20948 15.4556V20.7274C6.20948 20.7274 5.71874 23.9177 12.07 23.9177H12.0701ZM15.268 22.0744C15.1309 22.0745 14.9952 22.0475 14.8686 21.9949C14.7419 21.9423 14.6268 21.8651 14.5299 21.7678C14.433 21.6705 14.3562 21.555 14.3038 21.4278C14.2514 21.3007 14.2245 21.1644 14.2246 21.0268C14.2245 20.8892 14.2514 20.7529 14.3038 20.6258C14.3562 20.4986 14.433 20.3831 14.5299 20.2858C14.6268 20.1885 14.7419 20.1113 14.8685 20.0587C14.9952 20.0061 15.1309 19.9791 15.268 19.9792C15.405 19.9791 15.5407 20.0061 15.6674 20.0587C15.794 20.1113 15.9091 20.1884 16.006 20.2857C16.1029 20.383 16.1798 20.4986 16.2321 20.6257C16.2845 20.7529 16.3114 20.8891 16.3113 21.0267C16.3114 21.1643 16.2845 21.3006 16.2321 21.4277C16.1798 21.5549 16.1029 21.6704 16.006 21.7677C15.9091 21.865 15.794 21.9422 15.6674 21.9948C15.5407 22.0474 15.405 22.0744 15.268 22.0743V22.0744Z"></path> <defs><linearGradient id="paint0_linear_2020_25146" x1="2.31428" y1="2.15816" x2="14.2252" y2="13.9031" gradientUnits="userSpaceOnUse"><stop stop-color="#387EB8"></stop> <stop offset="1" stop-color="#366994"></stop></linearGradient> <linearGradient id="paint1_linear_2020_25146" x1="9.59647" y1="9.72995" x2="22.3851" y2="21.7711" gradientUnits="userSpaceOnUse"><stop stop-color="#FFE052"></stop> <stop offset="1" stop-color="#FFC331"></stop></linearGradient></defs></svg>
                    </span>
                </div>


            </div>

            <div class="col-4">
                
            </div>
        </div>

        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" id="myInput" class="form-control inputBox" placeholder="Search">
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myInput').keypress(function (event) {
                if (event.keyCode === 13) {
                    myFunction();
                }
            });

            function myFunction() {
                // Code to execute when Enter is pressed
                const searchedValue = $('#myInput').val();
                window.location.href = '/Home/List?Search=' + searchedValue;
            }
        });        
        
    </script>
}
