
@{
    ViewData["Title"] = "List";
}

<style type="text/css">
    .pageContainer {
        min-height: 550px;
    }
</style>

<div class="pageContainer">
    <h1>List</h1>
    <div>
        <p>asdsad</p>
        <button>yes</button>
    </div>
</div>

